.chest-shell {
  margin: 10px;
}

.chest {
  background: grey;
  border: 3px solid #333;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
}

.coin {
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.gold {
  background: gold;
  border-color: goldenrod;
}

.silver {
  background: silver;
  border-color: gray;
}

.half {
  background: skyblue;
}
