.chest-shell {
  margin: 10px;
}

.chest {
  background: url('../../images/chest-close.png') no-repeat;
  background-size: contain;
  border-radius: 5px;
  width: 120px;
  height: 100px;
  padding: 10px;
  margin: 10px auto;
}

.coin-area {
  min-height: 50px;
}

.coin {
  height: 50px;
  width: 50px;
  border: 2px solid;
  border-radius: 50%;
  padding: 15px 8px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}

.gold-coin {
  background: gold;
  border-color: goldenrod;
}

.silver-coin {
  background: silver;
  border-color: gray;
}

.gold {
  background-image: url('../../images/gold-chest.png');
}

.silver {
  background-image: url('../../images/silver-chest.png');
}

.half {
  background-image: url('../../images/half-chest.png');
}

.btn {
  display: block;
  margin: 0 auto;
}
